[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "*"
scikit-learn = "*"
pandas = "*"
plotly = "*"
matplotlib = "*"
jupyter = "*"
seaborn = "*"
bio = "*"

[dev-packages]

[requires]
python_version = "3.8"
